<!DOCTYPE html>
<html>
  <head>
    <title>Clinic Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body style="background-image: url('<%= asset_path("background.png") %>'); background-size: cover; background-position: center; height: 100vh;">
  <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, data: { "turbo-method": :delete }, class: "text-white border p-2 rounded-md m-2 border-gray-200 bg-red-400" %>
    <% if can? :manage, @patient %>
      <%= link_to 'Create Patient', new_patient_path, class: "text-white border p-2 rounded-md m-2 border-gray-200 bg-green-400" %>
      <%= link_to 'Appointments', doctor_appointments_path, class: "text-white border p-2 rounded-md m-2 border-gray-200 bg-green-400" %>
    <% end %>
    <%= link_to 'Create Appointment', new_doctor_appointment_path, class: "text-white border p-2 rounded-md m-2 border-gray-200 bg-blue-400" %>
    <%= link_to 'Dashboard', authenticated_root_path, class: "text-white border p-2 rounded-md m-2 border-gray-200 bg-gray-400" %>
  <% else %>
    
  <% end %>

       <p class="notice"><%= notice %></p>  
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
